nav {
  z-index: 1;

  // background-color: #171810;
  .btn-default {
    color: #fff;
    background-color: #a406ff;
    border-radius: 30px;
    transition: background-color .2s;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .85px;
    text-transform: uppercase;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.logo {
  height: 45px;
  width: 145px;
}
