<app-nav></app-nav>
<main>
  <video src="https://cre8moves.nyc3.digitaloceanspaces.com/CRE8Moves.mp4" autoplay="true" loop playsinline class="video" type="video/mp4"></video>
  <div class="position-relative overflow-hidden">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h1 class="display-3 fw-bold mt-5">Move beyond <br />any limitations</h1>
        </div>
        <div class="col-sm-12 col-md-6">
          <p class="lead fw-normal mt-5">CRE8Moves is the agency with ideas, cre8tive, and technologies to connect with people today.  We build social media campaigns, content production, and organize events and concerts. </p>
          <p class="contact" (click)="mailTo()">Contact Us <i class="fas fa-arrow-right ms-3"></i></p>
        </div>
      </div>
      

    </div>
  </div>

  <div class="container">
    <div class="row mt-4">
      <div class="col-12">
        <div class="section-rule section-rule--left-4"></div> <h4 class="fw-normal mt-5 title mb-5 ">Featured Work</h4>
        <video src="https://cre8moves.nyc3.cdn.digitaloceanspaces.com/news_clip.mp4" controls="true" class="feature-video" type="video/mp4"></video>
        <p class="fw-bold mb-0 mt-3 head">CREATIVE SOLUTIONS 4 YOUTH LLC</p>
        <p class="sub-title">Video, production</p>
      </div>
    </div>
  </div>
</main>

<footer>
  <div class="container">
    <p class="text-center">© Copyright 2020 | CRE8Moves is a registered trademark. All rights reserved.  |  Privacy Policy  |  Accessibility Policy</p>
  </div>
</footer>
<!-- <router-outlet></router-outlet> -->
